:root {
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #1f3851;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-height: 100vh;
  color: var(--color-primary);
}
