.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  flex: 1;
  height: 85vh;
  min-height: 85vh;
  max-height: 85vh;
  width: 100%;
  position: relative;
}
.footer {
  margin-top: auto;
}

.actual_weather_description {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* Lorsque la classe 'enter' est appliquée, déplacez ActualWeatherDescription vers la position initiale */
.actual_weather_description.enter {
  transform: translateX(0);
}
